
/* blockinng technique */
header{
    width:979px;
    height: 138px;
    background-color: #0D7962;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    color: white;
}
main{
    width:979px;
    height: 450px;
   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
section{
    width: 277px;
    height: 450px;
    background-color: #0D7962;
    float: left;
    margin-right: 10px;
    color: white;
}
content{
    width: 688px;
    height: 450px;
    background-color: #0D7962;
    float: left;
    color: white;
}
footer{
    width:979px;
    height: 68px;
    background-color: #0D7962;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
